* {
	margin: 0;
	padding: 0;
	font: inherit;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	vertical-align: top;
	width: 100%;
	height: auto;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 100px;
	background: #1f2937;
	color: #fff;
}
header h1 {
	font-size: 24px;
	color: #f9faf8;
}
header nav {
}
header nav ul {
	display: flex;
	gap: 0 10px;
	justify-content: center;
	align-items: center;
}
header nav ul li {
	font-size: 18px;
	color: #e5e7eb;
}
header nav ul li a {
	display: block;
	height: 100%;
}

.subject {
	display: flex;
	justify-content: space-between;
	padding: 100px;
	font-weight: bold;
	color: #f9faf8;
	background: #1f2937;
}
.subjectBox {
}
.subjectBox h2 {
	font-size: 48px;
}
.subjectBox p {
	font-size: 18px;
	color: #e5e7eb;
}
.subjectBox input {
	margin-top: 10px;
	background: #3882f6;
	padding: 10px;
	width: 100px;
	border-radius: 10px;
	outline: none;
	border: none;
	color: white;
}
.subject img {
	margin-left: 30px;
	width: 400px;
	height: 200px;
	object-fit: cover;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px;
}
.info h2 {
	font-size: 36px;
	font-weight: bold;
	color: #1f2937;
	margin-bottom: 20px;
}
.info .infoBox {
	display: flex;
}
.info .infoBox .box {
	text-align: center;
	margin-right: 30px;
}
.info .infoBox .box img {
	width: 100%;
	height: auto;
	object-fit: cover;
	margin-bottom: 10px;
	border: 5px solid #3882f6;
}
.info .infoBox .box p {
}

.quote {
	background: #e5e7eb;
}
.quote .quoteBox {
	padding: 100px;
}
.quote .quoteBox p {
	display: inline;
	font-size: 36px;
	font-style: italic;
	font-weight: lighter;
	color: #1f2937;
	margin-right: 30px;
}
.quote .quoteBox span {
}

.contact {
	padding: 100px;
}
.contact .contactBox {
	color: white;
	background: #3882f6;
	padding: 30px 50px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
}
.contact .contactBox .textbox {
}
.contact .contactBox .textbox span {
	margin-bottom: 10px;
	display: block;
}
.contact .contactBox .textbox span:last-child {
	margin-bottom: 0;
}
.contact .contactBox input {
	outline: none;
	border: 1px solid white;
	background: transparent;
	padding: 10px 20px;
	border-radius: 10px;
	color: white;
}

footer {
	height: 50px;
	background: #1f2937;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f9faf8;
}
